<div class="body">
    <div class="mainCon">
    <form #myForm = "ngForm" (ngSubmit)="onSubmit(myForm)">
      
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" ngModel required>
      </div>
  
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" ngModel required email>
      </div>

      <div>
        <label for="password">Create Password:</label>
        <input type="text" id="name" name="password" ngModel required>
      </div>

      <div>
        <label for="cpassword">Confirm Password:</label>
        <input type="text" id="name" name="cpassword" ngModel required>
      </div>
  
      <button type="submit"  [disabled]="myForm.invalid">SignUp</button>
      
      <hr>
      <div class="signIn">
       <span> Already had one</span> 
       <a routerLink="/home/log/signIn"> SignIn</a>
      </div>
    </form>
  </div>
  <router-outlet></router-outlet>
  </div>