<div class="main" id="home">
    <div class="homeDiv">
      <p>Home</p>
    </div>
    <div class="descDiv">
      <div class="descDiv1">
        <span>
          <h1>WELCOME</h1><hr>
        <div class="description">
          <i>Discover our range of products and services designed to meet your needs. From innovative solutions to exceptional customer service, we are dedicated to providing quality and value. Explore our site to learn more about what we offer and how we can help you achieve your goals.</i>
        </div>
        </span>
      </div>
      <div class="descDiv2">
        <button class="GSb" routerLink="/home/log">
          Get Started
        </button>
      </div>
    </div>
    <div class="log">
      
    </div>
<router-outlet></router-outlet>   
</div>